api_addr = "http://0.0.0.0:8200"
cluster_name = "vault"

disable_cache = true
disable_mlock = true
ui = true

listener "tcp" {
   address = "0.0.0.0:8200"
   tls_disable = true
}

storage "file" {
   path  = "/opt/vault/data"
}